*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  min-height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1134px;
  gap: 30px;
}

.content__details {
  flex-grow: 1;
}

.result {
  width: 711px;
  height: 386px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 16px;
}

.result__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 711px;
  margin-bottom: 4px;
}

.search-form__fieldset {
  flex-grow: 1;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font: inherit;
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: 212px;
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__textfield {
  appearance: none;
  color: white;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  padding: 2px;
  font-size: 18px;
  gap: 10px;
  font-weight: 400;
  line-height: 21.6px;
  font-family: inherit;
  width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label-text {
  font-size: 18px;
}

.button {
  display: block;
  cursor: pointer;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-top: 10px;
  height: 34px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
  margin-bottom: 4px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  max-width: 260px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
  overflow-x: auto;
  gap: 30px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px 2px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  margin-bottom: 6px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
}

.content__video-card-description {
  max-width: 200px;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Fira Sans Condensed", sans-serif;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(
    0 0 0 0
  ); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}

/* Сброс обводки у текстового поля в состоянии фокуса */
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

/* Активный чекбокс */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 85%;
  height: 85%;
  margin: auto;
  background-color: #fff;
  margin-top: 7.5%;
}

/* Подчеркивание текста у чекбокса при наведении на лейбл */
.search-form__checkbox-label:hover {
  text-decoration: underline;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

/* Сброс состояния :focus */
.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

/* Другие состояния карточки */
.content__card-link:hover {
  text-decoration: underline;
}

/* Цвет фона для активной карточки */
.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
